.awesome_head {
    height: 30px;
    border: 1px solid black;
}

.notification-bar{
    background-color: #000145;
    color: white;
}

.color-hour {
    background-color: #00a7e3;
    color: white;
}

.card-info {
    height: 40px;
}

.taille {
    height: 100%;
}

.vue_border {
    border: 1px solid brown;
    border-radius: 50%;
}

.block_span {
    display: inline-block;
}

.info-continu-titre {
    background-color: black;
    color: white;
    padding: 5px 15px;
    font-size: 22px;
    width: auto;
}

.info-continu {
    width: 100%;
    background-color: #EEEEEE;
    margin-left: 0;
}

.info-hour {
    background-color: #00a7e3;
    color: white;
    padding: 5px;
}